.form-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: block;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
}

